<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>UTFPR</title>


<!--	<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>-->
	<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.9.0/dist/css/bootstrap-datepicker.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/sweetalert2/10.15.5/dist/sweetalert2.min.css}"/>
	<link rel="stylesheet" th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.min.css}"/>



<!--	<th:block layout:fragment="css"></th:block>-->
</head>

<body>
	<header>
		<!-- Fixed navbar -->
<!--		<div th:insert="layout/fragments/nav-bar :: navbar"></div>-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" th:fragment="navbar">
			<button class="navbar-toggler z-index" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav mr-auto mt-2 align-items-center">
					<li class="content-logo"><a class="nav-link mt-1" th:href="@{/index.html}">
						<img th:src="@{/images/logo.png}" class="d-inline-block img-thumbnail logo" alt="Logo"/>Relojoaria
						Hora Certa</a></li>
					<li><a class="nav-link text-light ml-2  pr-lg-0 p-xl-2" th:href="@{/login}">Login</a></li>
					<li><a class="nav-link  text-light  pr-lg-0 p-xl-2" th:href="@{/cadastro}">Cadastrar-se</a></li>
					<li><a class="nav-link  text-light   pr-lg-0 p-xl-2" th:href="@{/perfil}">Seu Perfil</a></li>
				</ul>
				<form class="form-inline buscar">
					<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
					<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
			<div class=" collapse-carrinho">
				<a  th:href="@{/carrinho.html}" type="submit" class="btn btn-outline-dark ml-2 mr-4"><i
						class="fa fa-shopping-cart carrinho"><p id="cont">0</p></i></a>
			</div>
		</nav>

	</header>

	<section  layout:fragment="conteudo">
		As páginas serão carregadas aqui...
	</section>

	<footer>
		<div th:replace="layout/fragments/footer :: footer"></div>
	</footer>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.9.0/dist/js/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.9.0/dist/locales/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/sweetalert2/10.15.5/dist/sweetalert2.min.js}"></script>



    <script type="text/javascript">
    	$('.datepicker').datepicker({
    		format: 'dd/mm/yyyy',
    		autoclose: true
    	});
    </script>

<!---->

	<th:block layout:fragment="javascript"></th:block>
</body>
</html>