@media only screen and (max-width: 991px) {
    .buscar {
        justify-content: center !important;
        margin-left:18%!important;
    }
    .logout {
       text-align: center !important;
        padding-top: 5px;
    }
    .my-navbar {
        display: flex;
        justify-content: start;
    }
    .collapse-carrinho {
        position: absolute;
        z-index: -1;
        right: 0;
        margin-right: 10px;
        top: 10px;
    }
}

.logo {
    width: 50px;
    height: 50px;
    background-color:transparent !important;
    border: none !important;
}

.buscar {
    margin-right: 15% !important;
}

.carrinho {
    position: relative;
}

.content-logo {
    background: #bdc3d0;
    border-radius: 15px;
    min-width: 220px;
}

.content-logo a {
    color: #090808 !important;
    font-weight: 600;
}
