<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
        <button class="navbar-toggler z-index" th:type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto mt-2 align-items-center">
                <li class="content-logo"><a class="nav-link mt-1" href="./index.html">
                    <img class="logo" th:src="@{static/images/logo.png}" class="d-inline-block img-thumbnail" alt="Logo"/>Relojoaria
                    Hora Certa</a></li>
                <li><a class="nav-link text-light ml-2  pr-lg-0 p-xl-2" href="./login.html">Login</a></li>
                <li><a class="nav-link  text-light  pr-lg-0 p-xl-2" href="./cadastroUsuario.html">Cadastrar-se</a></li>
                <li><a class="nav-link  text-light   pr-lg-0 p-xl-2" href="perfil.html">Seu Perfil</a></li>
            </ul>
            <form class="form-inline buscar">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <div class=" collapse-carrinho">
            <a href="./carrinho.html" type="submit" class="btn btn-outline-dark ml-2 mr-4"><i
                    class="fa fa-shopping-cart carrinho"><p id="cont">0</p></i></a>
        </div>
    </nav>
</div>
</body>
</html>