<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">

<body class="background-color-principal">
<section layout:fragment="conteudo">
    <div class="page-header" style="margin-top:100px;">
        <div class="msg-r-t">
            <div id="msg" class="alert alert-dismissible fade show" role="alert"
                 hidden="true">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


        <div id="carouselExampleInterval" class="carousel slide espacamento-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2000">
                    <div class="informacoes-img1">
                        <h1>DIA DAS MÃES</h1>
                        <p>A RELOJOARIA HORA CERTA SE INSPIROU NA RAINHA DO
                            XADREZ PARA ESTA SELEÇÃO MAGNÍFICA REUNIDA NO CATÁLOGO DO DIA DAS MÃES 2021. AS PEÇAS
                            SELECIONADAS SÃO MARCANTES E VERSÁTEIS. IDEAIS PARA TORNAR ESTA DATA INESQUECÍVEL.</p>
                        <br>
                        <a href="#"
                           class="btn btn-outline-dark">Saiba mais</a>

                    </div>
                    <img src="https://montecristo.com.br/admin/upload/banner/DIA-DAS-MES-DIA-DAS-MES-297.jpg"
                         class="d-block w-100" alt="DIA DAS MÃES"/>
                </div>
                <div class="carousel-item" data-interval="2000">
                    <div class="informacoes-img2 ">
                        <h1>
                            <p>WARM SEASON</p>
                        </h1>
                        <p>UMA COLEÇÃO EXCLUSIVA DA RELOJOARIA HORA CERTA QUE COMBINA UMA SELEÇÃO DE PEDRAS BRASILEIRAS EM
                            TONS MAIS
                            QUENTES. NESTA COLEÇÃO PREDOMINAM TURMALINAS, TOPÁZIOS E RUBELITAS COM LAPIDAÇÃO E BRILHO
                            MARCANTES.</p>
                        <a href="#"
                           class="btn btn-outline-dark">Saiba mais</a>
                    </div>
                    <img src="https://montecristo.com.br/admin/upload/banner/WARM-SEASON-WARM-SEASON-298.jpg"
                         class="d-block w-100" alt="WARM SEASON"/>
                </div>

                <div class="carousel-item ">
                    <div class="informacoes-img3">
                        <h1>ROLEX</h1>
                        <p class="text-banner-home preto medio texto-banner">NOVA COLEÇÃO ROLEX</p>
                        <p>VEJA TODOS OS
                            RELÓGIOS</p></div>
                    <img src="https://montecristo.com.br/admin/upload/banner/COLEO-ROLEX-COLEO-ROLEX-296.jpg"
                         class="d-block w-100" alt="ROLEX"/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="alertNaoAutenticado" class="alert alert-warning alert-dismissible fade show mt-3" role="alert"
             hidden="true">
            Usuário não autenticado. Clique <a href="login.html" class="alert-link">aqui</a> e será direcionado para tela de
            login.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container-fluid">

            <div class="container">
                <div class="card" style="width: 18rem;" th:each="item : ${itens}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.nome}">Card title</h5>
<!--                        <h6 class="card-subtitle mb-2 text-muted" th:text="${item.categoria.nome}">Card subtitle</h6>-->
                        <p class="card-text"><span th:text="${item.descricao}"></span></p>
                        <a href="#" class="card-link"><span th:text="${item.valor}"></span></a>
                        <a href="#" class="card-link">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>